{% extends 'baseWOHeader.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="pt-5 bg-secondary"></div><!-- Pour faire de l'espace en haut -->

    <div class="container-fluid bg-secondary pt-5 pb-5 text-center">
        <div class="d-flex justify-content-center">
            <div class="col-4">
                <h2>Connexion</h2>
                <div class="pt-5 pb-5 d-flex justify-content-center">
                    <div class="col-6">
                        <form name="connexion" method="post">
                            <input type="text" class="form-control" name="login" placeholder="Login" required>
                            <input type="password" class="form-control mt-2" name="password" placeholder="Mot de passe" required>
                            <input type="submit" class="btn btn-primary mt-2" value="Connexion">
                        </form>
                    </div>
                </div>
                <div>
                    <p>Vous n'avez pas encore de compte ? Posez votre <a
                                href="{{ path('app_rejoindre') }}" class="text-dark">candidature</a>
                        tout
                        de suite !</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}