{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <!-- Texte de présentation -->
    <div class="presentation">
        <p>Texte de présentation</p>
    </div>

    <!-- Présentation des sections -->
    <div class="sections">
        {% for section in sections %}
            <div class="{% if loop.index is even %}right{% else %}left{% endif %}">
                <h3><a href="{{ path('app_sections', {section:section.nom}) }}">{{ section.nom }}</a></h3>
                <p>{{ section.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}