{% extends 'baseWOHeader.html.twig' %}

{% block title %}Rejoindre{% endblock %}

{% block body %}
    <div class="pt-5 bg-secondary"></div><!-- Pour faire de l'espace en haut -->

    <div class="container-fluid bg-secondary pt-5 pb-5 text-center">
        <div class="d-flex justify-content-center">
            <div class="col-4">
                <h2>Nous rejoindre</h2>
                <p>Posez votre candidature :</p>
                <div class="pt-5 pb-5 d-flex justify-content-center">
                    <div class="col-6">
                        <form name="rejoindre" method="post">
                            <input type="text" class="form-control" name="login" placeholder="Login" required>
                            <input type="password" class="form-control mt-2" name="password" placeholder="Mot de passe" required>
                            <input type="text" class="form-control mt-2" name="prenom" placeholder="Prenom">
                            <input type="text" class="form-control mt-2" name="Nom" placeholder="Nom">
                            <select name="section" class="form-control mt-2" required>
                                {% for section in sections %}
                                    <option value="{{ section.id }}">{{ section.nom }}</option>
                                {% endfor %}
                                <option value="0" selected>Visiteur/Autre faction</option>
                            </select>
                            <textarea class="form-control mt-2" name="motivation" placeholder="Motivation"></textarea>
                            <input type="submit" class="btn btn-primary mt-2" value="Candidater">
                        </form>
                    </div>
                </div>
                <div>
                    <p>Vous avez déjà un compte ? <a href="{{ path('app_connexion') }}" class="text-dark">Connectez-vous</a> !</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}