header
{
    background-image: url("../images/fond_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
body
{
    background-image: url("../images/fond_etoile.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}