main > div {
    margin: 1em 0;
}

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* PRESENTATION */

.presentation {
    padding: 2em 3em;
    font-size: 2em;
    text-indent: 2em;

    border-top: 2px solid dimgrey;
    border-bottom: 2px solid dimgrey;
}

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* SECTIONS */

.sections {
    font-size: 1.2em;

    border-top: 2px solid dimgrey;
    border-bottom: 2px solid dimgrey;
}

.sections div {
    padding: 2em 3em;
    margin: 1em 0;

    border-top: 1px solid dimgrey;
    border-bottom: 1px solid dimgrey;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.sections h3 a {
    color: black;
    text-decoration: none;
}

.sections p {
    text-indent: 2em;
}