*
{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Comfortaa, sans-serif;
}

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* HEADER */

header
{
    padding: 5em 5em 3em;
    border-bottom: 5px solid black;
    text-align: center;
    font-size: 3em;
}
header a
{
    color: black;
    text-decoration: none;
}

nav
{
    background-color: white;
    font-size: 1.3em;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    padding: 1em 0;
    justify-content: space-between;
    border-bottom: 3px solid black;
}
nav a
{
    border-radius: 0.5em;
    border: 2px solid transparent;
    padding: 0.3em 2em;
    color: black;
    text-decoration-color: transparent;
}
nav .rejoindre
{
    border-color: black;
}
nav .connexion
{
    margin-right: 1em;
    border-color: black;
    color: white;
    background-color: black;
}


/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* MAIN */

main
{
    width: 100%;
    margin: 1em 0;
}

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* FOOTER */

footer
{
    border-top: 5px solid black;
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}
footer p
{
    color: black;
    padding: 1em 0;
}
footer a
{
    color: inherit;
    font-weight: bolder;
    text-decoration: underline transparent;
}