*
{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Comfortaa, sans-serif;
}

/* HEADER */

header
{
    width: 80%;
    padding: 10%;
    background: linear-gradient(50deg,
    midnightblue,
    blue);
}
header h1
{
    text-align: center;
}
header h1 a
{
    text-decoration: none;
    color: white;
    font-size: 5em;
    font-family: Comfortaa, sans-serif;
}
nav
{
    position: fixed;
    left: 0;
    top: 0;
    padding: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(50deg,
    red,
    darkred);
}
nav div
{
    display: flex;
    width: 50%;
}
nav .left
{
    justify-content: flex-start;
}
nav .right
{
    justify-content: flex-end;
}
nav a
{
    display: block;
    font-family: Comfortaa, sans-serif;
    color: white;
    margin: 0 1%;
    width: fit-content;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 0.4em;
    padding: 0.3%;
    transition: all .5s ease;
}
nav .left a
{
    text-decoration: underline transparent;
}
nav .left a:hover
{
    text-decoration: underline white;
}
nav .rejoindre
{
    border: 2px solid darkblue;
}
nav .rejoindre:hover
{
    border-color: blue;
}
nav .connexion
{
    background-color: darkblue;
}
nav .connexion:hover
{
    background-color: blue;
}

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* FOOTER */

footer
{
    position: relative;
    left: 0;
    bottom: 0;
    width: 90%;
    padding: 2% 5%;
    margin-top: 5%;
    background: linear-gradient(50deg,
    blue,
    white,
    red);
    text-align: center;
    color: black;
    font-family: Comfortaa, sans-serif;
    font-size: 1.2em;
}
footer a
{
    color: black;
    font-weight: bolder;
    text-decoration: underline transparent;

    transition: 1s ease;
}
footer a:hover
{
    text-decoration-color: black;
}