/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* BOUTONS */

.boutons
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;

    border-top: 3px solid dimgrey;
    border-bottom: 3px solid dimgrey;
}
.boutons h2
{
    font-size: 2em;
    padding: 1em 2em;
    cursor: pointer;
}

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* VAISSEAUX */

.onglets #vaisseaux
{
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3em 5em;

    border-top: 3px solid dimgrey;
    border-bottom: 3px solid dimgrey;
}
.onglets #vaisseaux .container
{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    padding: 1em;
    margin: 1em 0;
    cursor: pointer;
}
.onglets #vaisseaux img
{
    width: 20em;
}
.onglets #vaisseaux .infos
{
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid grey;
}
.onglets #vaisseaux .infos h3
{
    font-size: 2em;
    margin-bottom: 0.5em;
}
.onglets #vaisseaux .infos p
{
    font-size: 1.1em;
    text-indent: 1em;
}

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* PROGRAMMES */

.onglets #programmes
{
    padding: 3em 5em;

    border-top: 3px solid dimgrey;
    border-bottom: 3px solid dimgrey;
}