/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* BOUTONS */

.container
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.boutons
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 2px solid black;
    text-align: center;
    margin-right: 2em;
}
.boutons span
{
    padding: 0.7em 3em;
    margin-bottom: 0.5em;
    cursor: pointer;
}

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* ONGLETS */

.onglets > div
{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

/* _.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-._.-. */
/* PROFIL */

#profil .utilisateur h2
{
    font-size: 3em;
    margin: 1em;
}
#profil .resume
{
    margin-left: 1em;
}
#profil .resume li
{
    list-style-type: none;
}
#profil .resume a
{
    color: black;
    text-decoration: none;
}