{% extends 'baseWOHeader.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <div class="pt-5 bg-secondary"></div><!-- Pour faire de l'espace en haut -->

    <div class="container-fluid pt-5 pb-5 bg-secondary">
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-center flex-column col-4">
                <h2>Créez votre commande</h2>
                <div>
                    <form class="text-center" action="{{ path('app_create_commande') }}" method="post">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nom</span>
                            </div>
                            <input class="form-control" type="text" name="nom" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Description</span>
                            </div>
                            <textarea class="form-control" name="description" cols="50" rows="10"
                                      required></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Quantité</span>
                            </div>
                            <input class="form-control" type="number" name="quantite" min="1" value="1">
                        </div>
                        <button class="btn btn-primary" type="submit">Créer</button>
                        <p>Le prix sera fixé ensuite en fonction de ce que vous avez demandé</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
