{% extends 'baseWOHeader.html.twig' %}

{% block title %}R&D{% endblock %}

{% block body %}
    <div class="pt-5 bg-secondary"></div><!-- Pour faire de l'espace en haut -->

    <div class="container-fluid pt-5 pb-5 bg-secondary">
        R&D
        {{ dump(commandes) }}
        {{ dump(membres) }}
        {{ dump(candidatures) }}
        {{ dump(grades) }}
    </div>
{% endblock %}