{% extends 'base.html.twig' %}

{% block title %}Sections{% endblock %}

{% block body %}
    <h2>Les sections</h2>
    <div class="sections">
        {% for section in sections %}
            <a href="{{ path('app_sections', {section:section.nom}) }}">
                <h3>{{ section.nom }}</h3>
                <div>
                    <p>{{ section.description }}</p>
                    <span><strong>{{ effectifs[section.nom] }}</strong>
                        {% if effectifs[section.nom] > 1 %}
                            membres
                        {% else %}
                            membre
                        {% endif %}
                    </span>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}