{% extends 'baseWOHeader.html.twig' %}

{% block header %}
    <header class="container-fluid vh-100 pt-5 pb-5">
        <div class="h-100">
            <h1 class="text-center text-uppercase">
                <a href="{{ path('app_homepage') }}"
                   class="display-1 text-decoration-none text-light font-weight-bolder">Hediata</a>
            </h1>
        </div>
    </header>
{% endblock %}